.connected {
  background-color: rgba(0, 250, 0, 0.5);
  color: white;
  border-color: green;
}
.connected:hover {
  background-color: #aa2b00;
  border-color: #cc3300;
}

.compatibility-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

#recordButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px; /* Match the height of other buttons */
  padding: 0 10px;
  min-width: 38px; /* Ensure minimum width when not recording */
}

.record-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.record-timer-separator {
  display: none;
  margin: 0 5px;
  font-size: 14px;
}

#recordingTimer {
  display: none;
  font-size: 12px;
}

#recordButton.recording {
  width: auto; /* Allow button to expand when recording */
}

#recordButton.recording .record-timer-separator,
#recordButton.recording #recordingTimer {
  display: inline-block;
}

#recordButton.recording .record-icon-container svg {
  fill: currentColor; /* Change to stop icon color */
}
