.connected {
  background-color: green !important; /* Add !important to override other styles */
  color: white; /* Change text color to white for better contrast */
  border-color: green; /* Change border color to match background color */
}
canvas {
  width: 100%;
}
.chrome-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
